* {
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.list-group {
    max-height: 500px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#addparcelreturnCode {
    max-width: 600px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}